*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.heading{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.option{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.option:hover{
    background-color: #081b31;
    cursor: pointer ;
}

.option img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 2rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg{
    margin: 5rem;
}

.msg p{
    background-color: #081b31;
    color: white;
    display: inline;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
}